@use '../../variables' as *;

// Pagination
.admin-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--border-color);

  .pagination-info {
    color: var(--text-secondary);
    font-size: 0.875rem;
  }
}
