@import '../styles/main.scss';

/* Global base styles */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  margin: 0;
  padding: 0;
}

/* Swiper styles */
.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-fade .swiper-slide {
  opacity: 0 !important;
  transition: opacity 0.3s ease;
}

.swiper-fade .swiper-slide-active {
  opacity: 1 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* Apply Lexend font to all text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
button,
input,
textarea,
select,
label,
li,
ul,
ol,
blockquote,
code,
pre,
th,
td,
caption,
small,
strong,
em,
b,
i {
  font-family: inherit;
}
