@forward 'ui';
@forward 'layout';
@forward 'auth';
@forward 'admin';
@forward 'post';
@forward 'pages';
@forward 'profile';
@forward 'comments';
@forward 'upload';
@forward 'post-creation';
@forward 'trending';
@forward 'report-modal';
@forward 'search';
@forward 'suggestions';
