@forward 'hero-section.scss';
@forward 'features.scss';
@forward 'services.scss';
@forward 'footer.scss';

.website-root {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.website-content {
  position: relative;
  width: 100%;
}
